@import "../../scss/variables";

.toolbar {
	width: 100%;
	height: $toolbar-height;
	background: $primary-color;
	padding: 20px 15px;

	.nav-button {
		color: white;
		// padding: 5px;
		min-width: 36px;
		float: left;
	}

	.toolbar-title {
		color: #fff;
		display: inline-block;
		font-size: 2.1rem;
		line-height: 2.1rem;
		padding: 0;
		margin: 0;
		margin-left: 15px;
	}
}
