html, body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}

* {
	box-sizing: border-box;
}

a {
	&, &:visited, &:focus, &:active {
		color: inherit;
		text-decoration: none;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 300;
}

.mat-icon {
	vertical-align: bottom;
}

.page-title {
	margin-top: 0;
}

.block {
	background: white;
	@extend .block-shadow;

	.block-header, .block-content, .block-footer {
		overflow: hidden;
	}

	.block-header {
		color: white;
		background: $primary-color;
		padding: 20px 15px;
	}

	.block-content {
		padding: 15px;
	}

	.block-footer {
		border-top: solid 1px $primary-color;
		padding: 5px 15px;
	}
}
