html, body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}

* {
	box-sizing: border-box;
}

.mat-icon {
	vertical-align: bottom;
}

.page-title {
	margin-top: 0;
}

.block {
	background: white;
	@extend .block-shadow;

	.block-header, .block-content, .block-footer {
		padding: 15px;
	}
}
