@import "../../scss/variables";
@import "../../scss/mixins";

.navbar {
	width: $navbar-width;
	height: 100vh;
	float: left;
	background: $primary-color;
	color: white;

	.navbar-header {
		padding: 5px 5px 5px 15px;
		background: $accent-color;
		overflow: hidden;

		.app-title {
			display: inline-block;
		}

		.sidenav-close-button {
			float: right;
			color: white;
			min-width: 36px;
			margin: 16px 0;
		}
	}
	.navbar-content {
		// @extend .roof-shadow;
		overflow: hidden;

		ul.navbar-nav {
			list-style: none;
			margin-left: 0;
			padding: 10px 0;
			background: rgba($primary-color, 0.5);

			li {
				width: 100%;
				cursor: pointer;

				&:hover, &.active {
					background: $accent-color;

					a {
						md-icon {
							color: white;
						}
					}
				}

				a {
					display: block;
    				line-height: 20px;
					padding: 15px;

					md-icon {
						margin-right: 15px;
						color: $accent-color;
					}
				}
			}
		}
	}
}
