<div class="navbar">
	<div class="navbar-header">
		<h2 class="app-title">Unknown</h2>
		<button class="sidenav-close-button" md-button (click)="closeSidenav()">
			<md-icon>chevron_left</md-icon>
		</button>
	</div>
	<div class="navbar-content">
		<ul class="navbar-nav">
			<li routerLinkActive="active">
				<a routerLink="/home">
					<md-icon>face</md-icon>
					Link 1
				</a>
			</li>
			<li routerLinkActive="active">
				<a routerLink="/test" >
					<md-icon>art_track</md-icon>
					Link 2
				</a>
			</li>
			<li routerLinkActive="active">
				<a routerLink="/test-1" >
					<md-icon>select_all</md-icon>
					Link 3
				</a>
			</li>
		</ul>
	</div>
</div>
