<div class="row">
	<div class="col-md-6">
		<div class="block">
			<div class="block-header">
				Welcome
			</div>
			<div class="block-content">
				I had no car, no money, and no Azamat. The only thing keeping me going was my dream of one day holding Pamela in my arms and then making romantic explosion on her stomach.

				Sometime my sister, she show her vazhïn to my brother Bilo and say "You will never get this, you will never get it, la la la la la la!" He behind his cage. He cries, he cries and everybody laughs. She goes "You never get this." But one time he break cage and he "get this" and then we all laugh. High five!

				I arrived in America's airport with clothings, US dollars, and a jar of gypsy tears to protect me from AIDS.

				He is my neighbor Nursultan Tuliagby. He is pain in my assholes. I get a window from a glass, he must get a window from a glass. I get a step, he must get a step. I get a clock radio, he cannot afford. Great success!
			</div>
			<div class="block-footer">
				<button md-button class="pull-right">
					<md-icon>more_horiz</md-icon>
				</button>
			</div>
		</div>
	</div>
</div>
