<div class="row">
	<div class="col-md-6">
		<div class="block">
			<div class="block-header">
				Welcome
			</div>
			<div class="block-content">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sit amet tincidunt sem, vitae dapibus nisi. 
					Morbi hendrerit, lacus sit amet ultricies sagittis, urna sem dapibus urna, at rutrum nibh felis non magna. 
					Morbi faucibus nisi sapien, quis pellentesque sapien volutpat eget. Nam nec gravida eros. Cras tempor metus eget dignissim aliquet. 
					Nulla facilisi. Duis nec elementum odio. Aliquam erat volutpat.
				</p>
				<p>
					Donec tempor malesuada consectetur. Cras non sagittis tellus. Mauris finibus felis neque, a vulputate lectus vehicula non. 
					Nam varius dignissim enim, non accumsan orci ornare in. In quam tortor, viverra in nisi ac, mattis gravida leo. 
					Sed justo erat, tincidunt in metus id, rhoncus sodales ipsum. Nulla vel turpis quis tellus volutpat lacinia vitae at metus. 
					Donec et mi ac eros gravida ultricies a eu quam. Duis maximus ac diam quis dignissim. 
					Praesent dignissim urna vitae augue pellentesque vestibulum.
				</p>
				</div>
			<div class="block-footer">
				<button md-button class="pull-right">
					<md-icon>more_horiz</md-icon>
				</button>
			</div>
		</div>
	</div>
</div>
